# Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
db.sqlite3
.env

# Node.js
node_modules/
npm-debug.log

# Truffle
build/

# IPFS
*.exe
*.bat

# VSCode
.vscode/

# Others
.DS_Store
structure.txt
*.msi
